@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


.container{
  margin: 0 auto;
  width: 30%;
  text-align: center;
}

input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px #ccc solid;
  margin-bottom: 5px;
}

.saveBtn, .submitBtn{
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.saveBtn{
  background: darkseagreen;
}

.submitBtn{
  background: #648FC9;
}


.saveBtn, .deleteBtn, .editBtn, .submitBtn:hover{
  cursor: pointer;
}

.editBtn, .deleteBtn{
  font-size: .7em;
  padding: 3px;
  color: #fff;
  border-radius: 5px;
  border: none;
  float: right
}
.editBtn{
  background: #CA8462;
  margin-right: 5px;
}

.deleteBtn{
  background:#A85A5B;

}

.titleAuthor{
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
  margin-right: 5px;
}

.bookItem{
  border: 1px #ccc solid;
  padding: 5px;
  text-align: start;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%
}
.alertMeaage, .successMessage{
  color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100%
}
.successMessage{
  background:darkseagreen;
}
.alertMeaage{
  background: #E2662B;
}

.form input {
  display: inline;
  width: 40%;
}